<div class="container">
  <h1>All Listings</h1>

  <%= render 'layouts/partials/searchbar' %>

  <div class="row">
        <% @listings.each do |listing| %>
        <div class="card" style="width: 12rem;">
        <%= (image_tag listing.picture, class:"card-img-top", size: "200") if listing.picture.attached? %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <h5 class="price-tag">$<%= listing.price %></h5>
            <p class="card-text"><%= listing.condition.status %></p>
            <p class="card-text"><%= listing.category.name %></p>
            <p class="card-text"><%= listing.description %></p>

            <%= link_to 'Details', listing_path(listing), class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
  </div>
</div>



