<div class="container-fluid">
  <div class="row">
    <div class="col homepage-banner">
    <div class="container">
    <br><br>
      <%= render 'layouts/partials/searchbar' %>
    </div>
    </div>
    <div class="col-9">
    <div class="container">
      <% @listings.each do |listing| %>
  <div class="card mb-3" style="max-width: 800px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= (image_tag listing.picture, class:"card-img", size: "200") if listing.picture.attached? %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= listing.title %></h5>
                    <h5 class="price-tag">$<%= listing.price %></h5>
            <p class="card-text"><%= listing.condition.status %></p>
            <p class="card-text"><%= listing.category.name %></p>
            <p class="card-text"><%= listing.description %></p>
              <%= link_to 'More Information', listing_path(listing), class:"btn btn-primary" %>
            
      </div>
    </div>
  </div>
</div>
      <% end %>
    </div>
    </div>
  </div>
</div>



