<div class="container">
<% if flash[:notice] %>
  <div class="notice alert alert-success"><%= flash[:notice] %></div>
<% end %>
  <%= link_to ' << Back To Current Listings', listings_path %>
  <div class="card">
    <h2 class="card-header"><%= @listing.title %></h2>
    <div class="card-body">
      <p><%= (image_tag @listing.picture, size:"220x220") if @listing.picture.attached? %></p>
      <p>Item Status: <%= @listing.sold %></p>
      <h5 class="card-title">Asking Price $<%= @listing.price %></h5>
      <p>Posted By: <%= @listing.user.username %> </p>
      <p class="card-text">Condition: <%= @listing.condition.status %></p>
      <p class="card-text">Category: <%= @listing.category.name %></p>
      <p class="card-text"><%= @listing.description %></p>
  <div class="check-privilages">
    <% if can? :manage, Listing %>
    <% if current_or_admin  %>
      <%= link_to "Edit", edit_listing_path(@listing), class:"btn btn-info"%>
      <%= link_to 'Delete Listing', listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    <% elsif current_user.id != @listing.user_id %>

    <% if is_sold %>
      <p>This item has been sold</p>
    <% else %>
      <button data-stripe="payment" class="btn btn-success">Buy Now</button>
    <% end %>
    <% end %>
  <% else %>
    <%= link_to "Sign up To Buy", new_user_registration_path, class:"btn btn-info" %>
  <% end %>
  </div>
    </div>
  </div>
<br>
<div class="container">
    <h3>Send an inquiry</h3>
<% if user_signed_in? %>
  <% @listing.comments.each do |comment| %>
    <p>
      <strong><%= comment.user.username %></strong>:
      <%= comment.body %>
    </p>
  <% end %>
  <%= form_with(model: [ @listing, @listing.comments.build ], local: true) do |form| %>
    <p>
      <%= form.text_area :body, class:"form-control" %>
    </p>
    <p></p>
    <% if user_signed_in? && current_user.id != @listing.user_id %>
      <%= form.submit "Send Inquiry" %>
    <% else %>
      <%= form.submit "Reply to Inquiry" %>
    <% end %>
    </p>
  <% end %>
<% else %>
  <%= link_to "Sign up send an inquiry", new_user_registration_path, class:"btn btn-info" %>
<% end %>
</div>
</div>

<!-- Stripe JS logic -->
<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      })
    });
</script>