<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Posted Date</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Condition</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% listing_variable.each do |listing| %>
  <tr>
    <td><%= listing.posted_date %></td>
    <td><%= listing.title %></td>
    <td>$<%= listing.price %></td>
    <td><%= listing.condition.status %></td>
    <td><%= listing.category.name %></td>
    <td><%= listing.description %></td>
    <td><%= link_to 'Go To Listing', listing_path(listing.id) %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing.id) %></td>
    <td><%= link_to 'Delete', listing_path(listing.id), method: :delete, data: { confirm: 'Are you sure?' }  %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>