<div class="container-fluid">
  <h1>My Dashboard</h1>
  <br>

  <div class="myDetails">
    <h3>My Details</h3>
    <p>Username: <%= sanitize current_user.username %></p>
    <p>Email: <%= sanitize current_user.email %> </p>
    <p><%= link_to 'Edit My Account', edit_user_registration_path %></p>
  </div><br>


  <h3>Purchase History</h3>
    <%= render partial: "purchasetable", locals: { purchase_variable: purchase_listing } %><br>
  <h3>My Current Listings</h3>
    <%= render partial: "listingtable", locals: { listing_variable: unsold_listings } %><br>
  <h3>Sold Listings</h3>
    <%= render partial: "soldlistingtable", locals: { listing_variable: sold_listings } %>

</div>





