<div class="container">
  <h1>Admin Database</h1>
  <!-- Gives the ability for admin to add a new condition to the database -->
  <% if can? :manage, :all %>
    <h2>Manage Users</h2>
    <% list_all_users.each do |user| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">User ID: <%= user.id %></h6>
    <p class="card-text">Username: <%= user.username %></p>
    <%= link_to 'Edit User', user_path(user) %>
    <%= link_to 'Delete User', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  </div>
    <% end %>
<br>

  <div class="listing-conditions">
    <h2 >Add/Remove Conditions for Listing</h2>
        <!-- Displays all listing conditions currently in the database -->
      <ul class="list-group">
        <% list_condition.each do |condition| %>
          <li class="list-group-item">  
            <h6 class="card-title"><%= condition.status %></h6>
            <%= link_to 'Delete', condition_path(condition) , method: :delete, data: { confirm: 'Are you sure?'} %>
          </li>
        <% end %>
      </ul><br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter">Add New Listing Condition</button>
    <% end %>
  </div><br>

  <div class="listing-categories">
  <h2>Add/Edit/Remove Categories for Listings</h2>
    <ul class="list-group">
     <% list_all_categories.each do |category| %>
      <li class="list-group-item">
        <h6 class="card-title"><%= category.name %></h6>
        <!-- Add delete funcionality for categories once CRUD is implemented -->
      </li> 
     <% end %>
    </ul>
  </div>

</div>


<!-- Bootstrap Modal for Adding new listing conditions -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCenterTitle">Add A New Condition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%= form_with(model: @condition, url: conditions_path ) do |form| %>
      <div class="modal-body">
        <%= form.label :status %>: <%= form.text_field :status %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit class:"btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>

</div>





